doctype html
html
    head
        title= title
    body
        h1= title
        ul
            each costume in results
                li
                    h2= costume.costume_type
                    p Size: #{costume.size}
                    p Cost: $#{costume.cost}
